run
renderContext.o
ioMod.o
parseXML.o
gamedata.o
viewport.o
world.o
spriteSheet.o
image.o
imageFactory.o
frameGenerator.o
sprite.o
multisprite.o
twowaymultisprite.o
vector2f.o
clock.o
engine.o
player.o
hud.o
collisionStrategy.o
smartSprite.o
light.o
wall.o
main.o
levelManager.o
collectable.o
intersection.o
lightRenderer.o
